.appearance_page_rainbow-address-bar .bgcard{
	padding: 1rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
	border-radius: .25rem;
	background-color: #ffffff;
}

.appearance_page_rainbow-address-bar h2{
	margin: auto;
	padding: 20px;
	color: #fff;
	text-transform: uppercase;
	background: linear-gradient(35deg, rgb(146, 113, 255) 0%, rgb(87, 37, 255) 100%);
	text-align: center;
	font-size: 20px;
	border-radius: .25rem;
	box-shadow: 0px 8px 21px 0px rgba(36, 39, 50, 0.08);
	margin-bottom: 1rem;
}

.appearance_page_rainbow-address-bar .switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 22px;
}

.appearance_page_rainbow-address-bar .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.appearance_page_rainbow-address-bar .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.appearance_page_rainbow-address-bar .slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

.appearance_page_rainbow-address-bar input:checked + .slider {
	background-color: #9271ff;
}

.appearance_page_rainbow-address-bar input:focus + .slider {
	box-shadow: 0 0 1px #9271ff;
}

.appearance_page_rainbow-address-bar input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.appearance_page_rainbow-address-bar .slider.round {
	border-radius: 34px;
}

.appearance_page_rainbow-address-bar .slider.round:before {
	border-radius: 50%;
}

.appearance_page_rainbow-address-bar #submit{
	padding: 12px 18px 12px 18px;
	color: #fff;
	text-transform: uppercase;
	background: linear-gradient(35deg, rgb(146, 113, 255) 0%, rgb(87, 37, 255) 100%);
	line-height: 14px;
	box-shadow: 0px 8px 21px 0px rgba(36, 39, 50, 0.08);
	border: none;
	font-size: 14px;
	height: 40px;
}

.appearance_page_rainbow-address-bar div.wp-picker-holder {
	overflow: unset;
	height: 0;
}

.appearance_page_rainbow-address-bar div.iris-picker.iris-border {
	z-index: 1;
}

.appearance_page_rainbow-address-bar .wp-picker-container  button.wp-color-result,
.appearance_page_rainbow-address-bar span.wp-picker-input-wrap input.rab-post-color,
.appearance_page_rainbow-address-bar span.wp-picker-input-wrap input.wp-picker-clear {
	margin: 6px;
}

.appearance_page_rainbow-address-bar .wp-picker-container  button.wp-color-result {
	margin-left: 0;
}

#rab_color_meta input.rab-post-color {
	margin-right: 6px;
}

.appearance_page_rainbow-address-bar .iris-picker.iris-border {
	margin: 0;
}

.appearance_page_rainbow-address-bar span.wp-picker-input-wrap input.wp-picker-clear,
#rab_color_meta input.wp-picker-clear {
	min-height: 28px;
}

.appearance_page_rainbow-address-bar .rab-post-list {
	display: flex;
	align-items: center;
}

.appearance_page_rainbow-address-bar .rab-post-list-input {
	width: 250px;
	word-wrap: break-word;
}

.rab-margin-label {
	margin: 0px 5px 0px 0px;
}

.rab-label-align-left {
	display: block;
	text-align: left;
	font-weight: 600;
	margin-bottom: 5px;
}

.rab-label-align-center {
	display: block;
	text-align: center;
	width: 120px;
	font-weight: 600;
	margin-bottom: 5px
}

@media only screen and ( max-device-width: 480px ) {
	.appearance_page_rainbow-address-bar .rab-post-list {
		flex-flow: row wrap;
	}
}
